# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Java / Maven Backend
backend/target/
backend/bin/
*.class
*.jar
*.war
*.ear
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS/System files
.DS_Store
Thumbs.db
